<% layout('layouts/app') %>

<h1>Add Place</h1>
<!-- Use the POST method to save data or submit data from the form and it will be saved -->
<form action="/places" method="POST">
  <!-- to collect each label and input -->
  <div>
    <label for="title">Title</label>
    <input type="text" name="place[title]" id="title" />
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" name="place[location]" id="location" />
  </div>
  <div>
    <label for="price">Price</label>
    <input type="text" name="place[price]" id="price" />
  </div>
  <button type="submit">Save</button>
</form>
